html {
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica,
    "sans-serif";
  background-color: #0d1117;
  color: rgb(211, 211, 211);
  margin: 5px;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

h3 {
  font-size: 2em;
  margin: 0px 0px 40px 0px;
}

#header {
  display: flex;
  align-items: flex-end;
  background-color: rgb(37, 36, 39);
  border-radius: 40px;
  gap: 20px;
}

#titleDiv {
  background-color: rgb(45, 42, 48);
  display: flex;
  color: aliceblue;
  width: 380px;
  height: 200px;
  float: left;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}
#nameDiv {
  font-size: 2em;
}
#bioAndLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
}
#buttonRow {
  margin-bottom: 20px;
  color: lemonchiffon;
}
#buttonRow ul {
  margin-top: 5px;
  padding: 0;
}
#buttonRow li {
  float: left;
  padding: 0px 20px 0px 20px;
  list-style: none;
  font-weight: bold;
  border-right: 1px solid rgb(99, 99, 99);
}
#buttonRow li:last-child {
  border-right: none;
}
#buttonRow a {
  color: inherit;
  text-decoration: none;
}
#buttonRow a:hover {
  filter: brightness(1.8);
  text-shadow: 0 0 18px lemonchiffon;
}

#bioLine {
  font-size: 1.4em;
  margin-left: 1em;
}

#funSpace {
  height: 40px;
}

#cardHolder {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
#cardHolder h1 {
  font-size: 2.5em;
  margin-left: 20px;
  margin-bottom: 0px;
  color: lemonchiffon;
  text-shadow: 0 0 20px lemonchiffon;
}
.card {
  background-color: rgb(42, 46, 48);
  border-radius: 40px;
  padding: 50px;
  position: relative;
}

.cardDesc {
  font-size: 1.2em;
  margin-block-end: 0px;
  width: 55%;
}
.cardDesc a {
  color: beige;
}

.workDesc {
  width: 70%;
  font-size: 1.2em;
  margin-block-end: 0px;
}

.imageContainer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 23px;
  width: 40%;
  height: 100%;
  border-radius: 30px;
}
.imageContainer img,
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
}

#contactInfo {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 22px;
}
#contactInfo a {
  display: inline-block;
  text-decoration: underline;
  color: beige;
}

.animate {
  animation: upDown 0.7s ease-out forwards;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}
#contactInfo a:nth-child(1) {
  animation-delay: 0.4s;
}
#contactInfo a:nth-child(2) {
  animation-delay: 0.7s;
}
#contactInfo a:nth-child(3) {
  animation-delay: 1s;
}
