html {
  font-family: "Avenir Next", "Avenir", "Helvetica Neue", Helvetica,
    "sans-serif";
  background-color: #0d1117;
  color: rgb(211, 211, 211);
  margin: 15px;
  --smallestCardSize: 380px;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
}
canvas {
  position: fixed;
  top: 0;
  left: 0;
}
h2 {
  font-size: 1.7em;
  font-style: italic;
}
h3 {
  font-size: 2em;
  margin: 0px 0px 40px 0px;
}
a {
  color: beige;
}

#header {
  display: flex;
  align-items: flex-end;
  background-color: rgb(37, 36, 39);
  border-radius: 40px;
  gap: 20px;
  width: clamp(var(--smallestCardSize), 100%, 1250px);
}

#titleDiv {
  background-color: rgb(45, 42, 48);
  display: flex;
  color: aliceblue;
  width: 380px;
  height: 200px;
  float: left;
  border-radius: 40px;
  justify-content: center;
  align-items: center;
}
#nameDiv {
  font-size: 2em;
  white-space: nowrap;
  margin-left: 20px;
  margin-right: 20px;
}
#bioAndLinksContainer {
  display: flex;
  flex-direction: column;
  gap: 80px;
  align-items: flex-start;
}
#buttonRow {
  margin-bottom: 20px;
  color: lemonchiffon;
}
#buttonRow ul {
  margin-top: 5px;
  padding: 0;
}
#buttonRow li {
  float: left;
  padding: 0px 20px 0px 20px;
  list-style: none;
  font-weight: bold;
  border-right: 1px solid rgb(99, 99, 99);
}
#buttonRow li:last-child {
  border-right: none;
}
#buttonRow a {
  color: inherit;
  text-decoration: none;
}
#buttonRow a:hover {
  filter: brightness(1.1);
  text-shadow: 0 0 18px lemonchiffon;
}

#bioLine {
  font-size: 1.4em;
  margin-left: 1em;
}

#funSpace {
  height: 40px;
}

#cardHolder {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: clamp(var(--smallestCardSize), 100%, 1250px);
}
#cardHolder h1 {
  font-size: 2.5em;
  margin-left: 20px;
  margin-bottom: 0px;
  color: lemonchiffon;
  text-shadow: 0 0 20px lemonchiffon;
}

.card {
  display: flex;
  gap: 40px;
  background-color: rgb(42, 46, 48);
  border-radius: 40px;
  padding: 50px;
}
.cardSet {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
}
.cardSet .card:first-child {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
}
.cardSet .card {
  margin-top: -26px;
  border-radius: 0px;
}
.cardSet .card:last-child {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
  margin-top: -26px;
}
.jobAndCompany {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex: 1;

  padding-right: 10px;
  margin-top: -50px;
  margin-bottom: -50px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
}
.cardSet .card:first-child .jobAndCompany {
  justify-content: flex-start;
  border-top-right-radius: 40px;
}
.cardSet .card .jobAndCompany {
  justify-content: center;
  border-right: darkgoldenrod dashed;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}
.cardSet .card:last-child .jobAndCompany {
  border-bottom-right-radius: 40px;
}
.jobAndCompany p {
  position: relative;
  margin-left: auto;
  padding-right: 20px;
  color: goldenrod;
  font-size: small;
}
.workLink {
  font-size: 2.5em;
  font-weight: bold;
}
.cardDesc {
  font-size: 1.2em;
  margin-block-end: 0px;
}

.workDesc {
  width: 70%;
  flex: 2;
  font-size: 1.2em;
}
.projectDesc {
  flex: 1.7;
}

.tag {
  display: inline;
  line-height: 1.8;
  white-space: nowrap;
  border-radius: 4px;
  padding: 2px;
}
.imageContainer {
  flex: 1;
  right: 23px;
}
.imageContainer img,
.imageContainer video {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}
#hide {
  display: none;
}
#contactInfo {
  display: inline-block;
  font-size: 1.5em;
  margin-left: 22px;
}
#contactInfo a {
  display: inline-block;
  text-decoration: underline;
}

.animate {
  animation: upDown 0.7s ease-out forwards;
}

@keyframes upDown {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-40%);
  }
  100% {
    transform: translateY(0);
  }
}
#contactInfo a:nth-child(1) {
  animation-delay: 0.4s;
}
#contactInfo a:nth-child(2) {
  animation-delay: 0.7s;
}
#contactInfo a:nth-child(3) {
  animation-delay: 1s;
}

@media screen and (max-width: 830px) {
  #header {
    flex-direction: column;
    align-items: center;
  }
  #bioAndLinksContainer {
    align-items: center;
  }
  .card {
    flex-direction: column-reverse;
    gap: 50px;
  }
  .jobAndCompany {
    margin-top: -20px;
  }
  .cardSet .card:first-child .jobAndCompany,
  .cardSet .card .jobAndCompany,
  .cardSet .card:last-child .jobAndCompany {
    border-right: none;
  }
  .jobAndCompany p {
    display: none;
  }
  .workDesc {
    width: 100%;
  }
}
